<launch>
  <!-- This launch file is needed to have the skeleton tracking running 
  <include file="$(find skeleton_markers)/launch/markers.launch" /> --> 

  <arg name="model" />

  <!-- Main node -->
  <node name="trainer" pkg="pose_tracker" type="pose_trainer" args="$(arg model)" required="true"/>

  <!-- AD servers -->
  <!-- Not available for now 
  	<node name="EventServer" pkg="ad_core" type="server_events.exe" required="true"/>
  	<node name="MCPServer" pkg="ad_core" type="server_mcp.exe" required="true"/>
 -->

  <!-- AD-ROS bridge. To send AD speech events to ros topics   -->
  <node name="pose_labeler_bridge" pkg="pose_labeler" type="pose_labeler_bridge" required="true" /> 
</launch>
